.store {
  flex-grow: 1;
  display: flex;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-grow: 1;
  padding: 30px;
  gap: 12px;
}

.loading {
  padding: 12px;
}
