.input {
  display: flex;
  padding-left: 12px;
}

.button,
.numInput {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.17);

  background-color: white;
  font-size: 16px;
}

.numInput {
  width: 50px;
}

.button {
  --radius: 8px;
  cursor: pointer;
  width: 20px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.17);
}
.left {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.right {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
