@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    background-color: white;
  }
  100% {
    background-color: green;
  }
}

.hero {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
  background-color: green;
  min-height: 300px;
  animation: slideIn 800ms ease;
}

.heroText {
  display: flex;
  flex-direction: column;
  color: white;
}
