@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --default-font: "Open Sans", sans-serif;
}
html,
body,
#root {
  height: 100%;
}
body,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: var(--default-font);
}

a {
  text-decoration: none;
  color: black;
}
