.logo {
  max-width: 400px;
  height: 90px;
  display: flex;
  align-items: center;
}

.imgContainer {
  width: 100px;
}

.imgContainer > img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0) saturate(100%) invert(22%) sepia(71%) saturate(2790%)
    hue-rotate(131deg) brightness(90%) contrast(101%);
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.slogan {
  color: gray;
  font-weight: bold;
}
