.logo {
  max-width: 400px;
  height: 90px;
  display: flex;
  align-items: center;
}

.imgContainer {
  width: 100px;
}

.imgContainer > img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 24px;
  font-weight: bold;
}
