.checkout {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  max-height: 200px;
}

.total {
  font-size: 18px;
  color: red;
}

.button {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 12px;
  background-color: green;
  color: white;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms ease;
  width: 300px;
}

.button:hover {
  background-color: darkgreen;
}

.refunds {
  color: red;
  font-size: 14px;
}
