footer {
  display: flex;
  background-color: #ebedef;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}

.list {
  display: flex;
  padding: 20px;
  gap: 15px;
}

.list > a {
  color: gray;
  text-decoration: underline;
}
