.newsCard {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  max-width: 350px;
  box-shadow: rgba(73, 104, 126, 0.16) 0px 16px 24px 0px;
}

.imgContainer {
  height: 200px;
}

img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  padding: 12px;
}

.title {
  font-weight: bold;
  font-size: 16px;
}
