.news {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

.title {
  font-size: 20px;
  text-align: center;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
